{% load static %}
{% include "hospital/navbar.html" %}


<div class="breadcumb-wrapper ">
  <div class="parallax" data-parallax-image="static/img/breadcurmb/bg-all.jpg"></div>
  <div class="container z-index-common">
    <div class="breadcumb-content">
      <div class="breadcumb-menu-wrap">
        <i class="far fa-home-lg"></i>
        <ul class="breadcumb-menu">
          <li><a href="index.html">Home</a></li>
          <li class="active">Contact Us</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section class="vs-contact-wrapper vs-contact-layout1 space-top space-md-bottom">
  <div class="container">
    <div class="row gx-60 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <form action="contactus" method="POST" class=" form-wrap3 mb-30" data-bg-color="#f3f6f7">
          {% csrf_token %}
          <div class="form-title">
            <h3 class="mt-n2 fls-n2 mb-0">Send Us a Message</h3>
            <p class="text-theme mb-4">Your email address will not be published*</p>
          </div>
          <div class="form-group mb-15">
            <input type="text" class="form-control style3" name="Name" id="name" placeholder="Name">
            <i class="fal fa-user"></i>
          </div>
          <div class="form-group mb-15">
            <input type="text" class="form-control style3" name="Email" id="email" placeholder="E-mail">
            <i class="fal fa-envelope"></i>
          </div>
          <div class="form-group mb-15">
            <textarea name="Message" id="message" cols="30" rows="3" class="form-control style3"
              placeholder="Message"></textarea>
            <i class="fal fa-pencil-alt"></i>
          </div>
          <div class="form-btn pt-15">
            <button class="vs-btn style2" type="submit" value="Send Message">Send Message<i
                class="fas fa-chevron-right"></i></button>
          </div>
          <!-- <p class="form-messages mb-0 mt-3"></p> -->
        </form>
      </div>
      <div class="col-lg-6">
        <div class="contact-information mb-30">
          <h2 class="mt-n2">We are here for help you! Arrange a meeting.</h2>
          <div class="row">
            <div class="col-xxl-10">
              <p>Holisticly engage inexpensive architectures via high-quality solutions. Efficiently implement
                synergistic applications vis-a-vis best-of-breed ecommerce onotonectally enable client-based portals
              </p>
            </div>
          </div>
          <h3 class="h4 pt-2 mb-10">Opening Hours</h3>
          <table class="contact-info-table">
            <tr>
              <td>Mon - Fri:</td>
              <td>8.00 am - 8.00 pm</td>
            </tr>
            <tr>
              <td>Saturday:</td>
              <td>9.00 am - 6.00 pm</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9.00 am - 6.00 pm</td>
            </tr>
          </table>
          <h4 class="pt-2 mb-10">Address</h4>
          <p class="fs-md"><i class="far fa-map-marker-alt me-2"></i>105/139,Sector-10, Opposite RUHS Hospitals
            Pratapnagar, Jaipur
          </p>
          <h4 class="pt-2 mb-2">Customer Supports</h4>
          <h4 class="h3 font-theme2 mb-0"><a href="tel:9799443095"><i class="far fa-phone-alt me-2"></i>+91 97 9944
              3095</a></h4>
        </div>
      </div>
    </div>
    <div class="ratio ratio-21x9 contact-map mt-70 mb-30">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.281379933976!2d75.81741947448805!3d26.799167776715066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dc9ee474b0aad%3A0x65feb9f2775f2a94!2sSector-10%2C%20Pratap%20Nagar!5e0!3m2!1sen!2sin!4v1692940898651!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  </div>
</section>

<center>
  <!-- <form method="POST"> -->
  {% csrf_token %}
  <!-- <div class="form-group">
      <p>
        <h3>{{ form.as_p }}</h3>
      </p>
      <br>
      <input type="submit" value="Send Message" class='btn btn-primary btn-lg'>
    </div>
  </form> -->
</center>
{% include "hospital/footer.html" %}